/* Geral */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Cabeçalho */
h1 {
  text-align: center;
  color: #008B8B;
  margin: 20px 0;
}

a{
    text-decoration: none;

}

/* Caixa do leitor de QR Code */
#reader {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Mensagem de status */
#status {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #555;
}

.botoes{
  display: flex;
 margin: 15px;
 justify-content: center;
}

.btns{
  display: block;
 margin: 15px;
 justify-content: center;
}


/* Botão */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px auto;
  display: block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botes button{
 margin-right: : 15px;
  
}


button:hover {
  background-color: #45a049;
}

/* Lista de pessoas */
ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li a {
  color: #4CAF50;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  text-decoration: underline;
}

canvas {
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

canvas {
      margin-top: 15px;
      border: 2px solid #3498db;
      border-radius: 5px;
      padding: 5px;
    }


/* Detalhes */
#detalhes {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#detalhes p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.5;
}

#detalhes p strong {
  color: #008B8B;
}
#icon{
    background-size: cover; /* Faz a imagem cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Torna a imagem circular */
    margin-right: 10px;

    background-image: url(3917796.png);

    border: 2px solid black;  Borda para destaque 


}

.figurinha{
     width: 16px; /* Ajuste o tamanho conforme necessário */
    height: 16px;
    vertical-align: middle; /* Alinha os ícones ao texto */
    margin-right: 5px; /* Espaçamento entre o ícone e o texto */
}
